pip
torch
transformers
smolagents[litellm]
smolagents[transformers]
smolagents[openai]
requests
markdownify
duckduckgo-search
wikipedia
pandas
pillow
accelerate
num2words
quanto
bitsandbytes
optimum-quanto

